        html {
            overflow-y: scroll; /* Allow smooth vertical scrolling */
            overflow-x: hidden; /* Prevent horizontal overflow */
            height: 100%; /* Full viewport height */
            font-size: calc((2vh + 2vw) / 1.1); /* Responsive font size */
            white-space: nowrap; /* Prevent wrapping in smaller screens */
            overscroll-behavior: contain; /* Prevent overscroll bounce effect */
        }

        body {
            margin: 0;
            padding: 0;
            height: 100%; /* Ensure body takes full height */
            max-width: 100%; /* Prevent horizontal overflow */
            background-color: #336; /* Clean background */
            color: #fff;
            font-size: 100%; /* Default font size for body */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .container {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr; /* 3 heatmaps stacked */
            height: 100%; /* Occupy full viewport height */
            width: 100%; /* Occupy full viewport width */
        }

        .heatmap {
            display: grid;
            grid-template-rows: repeat(6, 1fr); /* Six rows in heatmap */
            grid-template-columns: repeat(68, 1fr); /* 68 columns */
            width: 100%; /* Stretch to container width */
            height: 100%; /* Stretch to container height */
        }

        .heatmap_cell {
            border: 1px solid black;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .dark-red {
            background-color: darkslategrey;
        }

        .dark-green {
            background-color: green;
        }

        .light-green {
            background-color: orange;
        }

        @media only screen and (max-width: 768px) {
            html {
                font-size: calc((2vh + 2vw) / 1.1); /* Dynamic scaling for smaller screens */
            }
        }

        .key {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            color: rgba(255, 255, 255, 0.7);
            z-index: 100;
            font-size: 0.8em;
            border: 1px solid white;
        }

        .tooltip {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 0.8em;
            visibility: hidden;
            z-index: 101;
        }

        .heatmap_cell:hover .tooltip,
        .heatmap_cell:focus .tooltip {
            visibility: visible;
        }

