html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222; /* Dark background for the entire page */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.heatmap {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(68, 1fr);
    width: 100%;
    height: 107%;
    overflow-y: auto;
}

.heatmap_cell {
    position: relative;
    width: calc(99vw / 86);
    height: auto;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.2s ease-in-out; 
}

.heatmap_cell:hover {
background-color: rgba(255, 255, 255, 1);
}

.heatmap_cell img {
    transform: rotate(-90deg);
    width: 100%; 
    max-width: 100%; /* This ensures the flag width doesn't exceed the cell width */
    height: auto; 
    object-fit: cover; 
    grid-column: 1;
    grid-row: 1;
}

.heatmap_cell .tooltip { 
    position: fixed;
    top: -5vh;
    left: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.heatmap_cell:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s; /* Remove initial delay on hover */
}

.dark-red {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid rgba(0, 0, 0, 0.4);
}

.dark-green {
    background-color: #008000; /* Darker green */
}

.light-green {
    background-color: #ff6600; /* Orange-red */
    border: 2.5px solid rgba(0, 0, 0, 0.2);
    max-width: 12px;
    max-height: 26px;
    float: left;
    margin: 2px;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: calc((2vh + 2vw) / 1.1);
    }
}

.key {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Darker key background */
    padding: 10px;
    color: #fff; /* White text */
    z-index: 100;
    font-size: 0.8em;
    border: 1px solid #fff; /* White border for better contrast */
}

.tooltip {
position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    visibility: hidden;
    z-index: 101;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    opacity: 0;
    width: 200px;
}

/* This is the key addition */
.heatmap_cell .tooltip a { 
    background-color: transparent; /* Remove background color inheritance */ 
    color: inherit; /* Inherit the tooltip's text color */ 
}
