html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 1fr; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.heatmap { 
  display: grid;
    grid-template-rows: repeat(6, 1fr); 
    grid-template-columns: repeat(68, 1fr); 
    width: 100%;
    height: 100%; 
    overflow-y: auto; /* Enable vertical scrolling for heatmap */
}

.heatmap_cell {
    position: relative;
    width: calc(99vw / 86);
    height: calc(99vh / 20);
    display: inline-block;
    margin: 0px 0px 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.2s ease-in-out;}

.heatmap_cell:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.heatmap_cell img {
    transform: rotate(-90deg);
    width: 100%; 
    height: auto; 
    filter: none;
}

.heatmap_cell .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.heatmap_cell:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.dark-red {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid rgba(0, 0, 0, 0.4);
}

.dark-green {
    background-color: green;
}

.light-green {
    background-color: rgba(255, 102, 0, 0.9);
}

@media only screen and (max-width: 768px) {
    html {
        font-size: calc((2vh + 2vw) / 1.1);
    }
}

.key {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    font-size: 0.8em;
    border: 1px solid white;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1vw;
    z-index: 101;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    max-width: 9vw;
    white-space: normal;
    width: 6vw;
}
