html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222; /* Dark background for the entire page */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.heatmap {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(68, 1fr);
    width: 100%;
    height: 108%;
    overflow-y: auto;
}

.heatmap_cell {
    min-width: calc(99vw / 99) !important;
    height: auto;
    display: inline-block;
    margin: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.2s ease-in-out;
    border-left: 2px solid rgba(255, 255, 255, 0.1) !important;
    border-top: 2px solid rgba(255, 255, 255, 0.2) !important;
    width: calc(99vw / 99) !important;
}

.heatmap_cell:hover {
    background-color: rgba(255, 255, 255, 1);
}

.heatmap_cell img {
    transform: rotate(-90deg);
    width: 100%; 
    max-width: 100%; /* This ensures the flag width doesn't exceed the cell width */
    height: auto; 
    object-fit: cover; 
    grid-column: 1;
    grid-row: 1;
}

.heatmap_cell .tooltip { 
    position: fixed;
    top: -5vh;
    left: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.heatmap_cell:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s; /* Remove initial delay on hover */
}

.dark-red {
background-color: rgba(0, 0, 0, 0.7);
    border: 0.05px solid rgba(0, 0, 0, 0.2);
}

.dark-green {
    background-color: #008000; /* Darker green */
}

/* Remove specific styles for light-green cells */
.light-green {
    background-color: #ff6600; /* Keep the orange color */
    border: 0.5px solid rgba(0, 0, 0, 0.4); /* Maintain a consistent border */ 
}

@media only screen and (max-width: 768px) {
    html {
        font-size: calc((2vh + 2vw) / 1.1);
    }
.light-green {
        background-color: #ff6600;
    border: 0px solid rgba(0, 0, 0, 0.2);
    max-width: 1px;
    max-height: 26px;
    float: left;
    margin: 1px;
}
}

.key {
    position: absolute;
    bottom: 10px; /* Position the div 10px from the bottom */
    left: 50%; /* Center the div horizontally */
    transform: translateX(-50%); /* Adjust the position to truly center it */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    z-index: 100;
    font-size: 0.8em;
    border: 1px solid #fff;
    max-width: 50%; /* Set the maximum width to 50% of screen width */
    width: 100%; /* Ensure the div can take up to 100% of its container width */
    box-sizing: border-box; /* Include padding and borde
}

.tooltip {
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    transition: visibility 0s linear 0s, opacity 0.5s ease-in-out; /* Smooth transition */
    position: fixed;
    font-size: calc(40px - 4vh);
    z-index: 103;
    margin-top: 72px;
    max-width: 125px;
    white-space: normal;
    width: 20vw;
}

.heatmap_cell .tooltip a { 
    background-color: transparent; /* Remove background color inheritance */ 
    color: inherit; /* Inherit the tooltip's text color */ 
}
